    /* Màu sắc */

    .navbar-nav .nav-link {
        font-size: 17px;
        margin-left: 10px;
    }

    .d-flex .nav-link {
        font-size: 17px;
        padding: 1px;
        margin-left: 10px;
        margin-right: 0;
    }

    .d-flex.align-items-center {
        margin-left: 0;
    }



    body {
        background-color: #f8f9fa;
    }

    .navbar {
        background-image: linear-gradient(#3d0066ce, #160066e1, #3f0082fb);

    }

    .navbar-brand,
    .nav-link {
        color: white !important;
    }

    .navbar-brand:hover,
    .nav-link:hover {
        color: #df678c !important;
    }

    /* Thêm khoảng cách cho đăng nhập và đăng ký */
    .nav-link.login {
        margin-right: 20px;
    }

    /* logo */
    .navbar-brand img {
        width: 50px;
        ;
        height: 50px;
    }


    .service-box img {
        max-width: 100px;
    }

    .service-box h4 {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    /* Made with love by Mutiullah Samim*/

    @import url('https://fonts.googleapis.com/css?family=Numans');

    html,
    body {
        background-image: url('../img/login-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 932px;
        font-family: 'Numans', sans-serif;
    }

    .container {
        height: 100%;
        align-content: center;
    }

    .card {
        height: 340px;
        margin-top: 140px;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(31, 0, 110, 0.538) !important;


    }

    .social_icon span {
        font-size: 60px;
        margin-left: 10px;
        color: #6666FF;
    }

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

    .card-header h3 {
        color: white;
        font-weight: 800;
    }

    .social_icon {
        position: absolute;
        right: 20px;
        top: -45px;
    }

    .input-group-prepend span {
        width: 50px;
        background-color: #3D2AA0;
        color: white;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember {
        color: white;
    }

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    /* 
.login_btn {
    color: white; 
    font-weight: 700; 
    background-color: #df678c;
    width: 120px; 
    border: none; 
    border-radius: 25px;
    padding: 10px 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
} */



    input.btn.float-right.login_btn {
        color: white;
        font-weight: 700;
        background-color: #3D2AA0;
        width: auto;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }

    input.btn.float-right.login_btn:hover {
        background-color: #df678c;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    }

    .links {
        color: white;
    }

    .links-1 {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }